<div class="message-footer">
	<input type="text" class="messageInput" id="messageInput" required placeholder="Nachricht eingeben" />
	<input type="button" class="sendButton" id="sendButton" value="Senden" />
</div>

<div class="message-list">
	<div class="col-6">
		<span>Nachrichtenverlauf</span>
		<ul id="messagesList">
			<li>Testnachricht1</li>
		</ul>
	</div>
</div>


<@*section class="chat">
		   <header>
		   <div class="chat-header">
		   Simple Chat
		   </div>
		   </header>
		   <div class="message-bubble">
		   <div class="message-info">
		   <div class="message-username">
		   User1
		   </div>
		   <div class="message-timestamp">
		   9:44
		   </div>
		   </div>
		   <div class="message-text">
		   Willkommen im Chat! Dies ist eine Testnachricht!
		   </div>
		   </div>
		   <div class="active-users">
		   <ul>
		   <li>
		   </li>
		   </ul>
		   </div>
		   <form class="message-footer">
		   <input type="text" class="message-input" required placeholder="Nachricht eingeben" />
		   <button type="submit" class="message-send">Senden</button>
		   </form>
		   </section>*@