

<div class="signOn-form">
	<div class="signOn-head-text">Simple Chat Login</div>
	<form method="post" action="/Home/Chat">
		<div class="signOn-zusatztext">
			Zum chatten den gewünschten Usernamen eingeben
		</div>
		<div class="field">
			<input type="text" id="username" value="" placeholder="Username eingeben" />
		</div>
		@*TODO: Erweitertung: Avatar*@
		<div>
			<button type="submit" class="setUsername" id="setUsername">Chat starten</button>
		</div>
	</form>
</div>
