<div id="chat">
	<div id="main">
		<aside>
			<ul id="chatUsers"></ul>
		</aside>
		<div id="mainChat">
				<ul id="messagesList">

				</ul>
				<div id="message-footer">
					<input type="text" class="messageInput" id="messageInput" required placeholder="Nachricht eingeben" />
					<input type="button" class="sendButton" id="sendButton" value="Senden" />
				</div>
		</div>
	</div>
</div>




@*<div id="chat">
	<div id="main">
		<aside>
			<ul id="chatUsers"></ul>
		</aside>
		<div id="mainChat">
			<ul id="messagesList"></ul>
			<div id="message-footer">
				<input type="text" class="messageInput" id="messageInput" required placeholder="Nachricht eingeben" />
				<input type="button" class="sendButton" id="sendButton" value="Senden" />
			</div>
		</div>
	</div>
</div>*@